body {
    display:flex;
    flex-direction:column;
    margin:0;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

}

.intro1 {
    font-size:60px;
    background-color: transparent;
    color:white;
    padding:10px 20px;
    text-shadow: 0px 3px 1px black;
    border-bottom:5px solid yellow;
}

.intro2 {
    font-size:20px;
    width:40%;
    color:white;
    padding:10px 20px;
    text-shadow: 1px 0 1px black;
    border-left:5px solid yellow;
}

.intro3 {
    margin:0;
    opacity: 70%;
    font-weight: bold;
    color:white;
    text-shadow: 1px 0 1px black;
}

.div1 {
    background-color: red;
    background-image: url("./images/Cover.png");
    background-size:cover;
    width:100%;
    aspect-ratio: 16 / 9;
    display: flex;
    justify-content: center;
    flex-direction:column;
}

.column21 {
    font-size: 13px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width:550px;

}

.div2 {
    background-color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.column1, .column2, .column3 {
    margin: 0 10px 0 10px;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color:transparent;
    border:2px solid rgb(0, 0, 0);
    border-radius: 20px;
    padding: 0 20px 0 20px;
}
/* .column2 {
    margin: 0 10px 0 10px;
}
.column3 {
    margin: 0 10px 0 10px;
} */


.div3 {
    display:flex;
    justify-content: center;
}

.column4 {
    display: flex;
    background:mintcream;
    border:1px solid black;
    padding:40px;
    margin:100px 0;
    border-bottom: 4px solid black;
}

.column5 {
    width:300px;
}



.img1 {
    border:0 solid black;
    border-radius: 50%;
    
}

.img2 {
    border:0 solid black;
    border-radius: 50%;
}

.img3 {
    border:0 solid black;
    border-radius: 50%;
}

.img4 {
    border:3px solid black;
    margin:0 50px 0 0;
}




.yrs{
    text-shadow: 0px 0 10px gold;

}